table, td, th, tr {
    border: 2px solid black; 
    padding: 20px;
    border-collapse: collapse;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    font-family: 'Heebo', sans-serif;
    margin: auto;
    margin-top: 50px;
}
tr:nth-child(odd) {
    background-color: #ff83cd;
}
tr:nth-child(even) {
    background-color: #acdfff;
}
form, input, textarea {
    font-size: 25px;
    padding: 5px;
}
input, textarea {
    background-color: #e2e2e2;
}
#send {
    background-color: #be6189;
    border-radius: 10%;
}
#send:hover {
    background-color: #a021ee;
}
p {
    text-align: center;
    font-size: 30px;
    text-decoration: underline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    margin: auto;
}
form div {
    padding: 10px;
    min-width: 40%;
    display: flex;
    justify-content: center;
}

figcaption {
    text-align: center;
    background-color: #ff956e;
    font-size: 25px;
    position: relative;
    bottom: 0;
}
figure img {
    max-width: 300px;
    max-height: 300px;
    display: block;
}
article {
    justify-content: space-evenly;
}
.repas {
    display: flex;  
    margin: auto;
    max-width: 300px;
    max-height: 300px;
}

section p {
    margin: auto;
    font-size: 30px;
    text-decoration: none;
    text-align: justify;
    font-style: italic;
    padding: 20px;
    font-family: 'Abel', sans-serif;
}
h1 {
    font-size: 50px;
    text-align: center;
    padding: 20px;
    font-family: 'Abel', sans-serif;
}
h2 {
    text-align: center;
    font-size: 40px;
    font-family: 'Abel', sans-serif;
}
header {
    background-color: #101010;
    width: 100%;
}
body {
    margin: 0;
}
ul {
    margin: 0;
    display: flex;
    justify-content: space-evenly;
}
li {
    list-style-type: none;
}
header a {
    font-size: 30px;
    text-decoration: none;
    padding: 20px;
    color: #e0cdff;
}
div img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}